$primary: #819E44;
$secondary: #605239;
$danger: #581D29;
// $light: #DAD6E8;
$dark: #17181A;


@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

h1, h1 * {
  color: $danger;
  text-transform: uppercase;
}

h2, h2 * {
  color: $secondary;
}

h3 {
  color: $dark;
}

h2 > .header-anchor, h3 > .header-anchor, h4 > .header-anchor, h5 > .header-anchor {
  display: none;
}

.nav {
  background: $primary;
}

.nav-link {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.container-fluid {
  background: $light;
}

ul > li {
  list-style : none;
}

li {
  font-weight: 600;
}

li > ul > li {
  font-weight: 400;
}

li > ul {
  padding-left: $spacer;
}