@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$primary: #0a0b10;
$secondary: #64748b;
$accent: #6366f1;

$success: #10b981;
$danger: #ef4444;
$warning: #f59e0b;
$info: #14b8a6;
$light: #f8fafc;
$dark: #0f172a;
$white: #ffffff;

$glass: rgba(18, 18, 29, 0.6);
$glass-border: rgba(255, 255, 255, 0.08);

$text: #cbd5e1;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "white": $white,

  "glass": $glass
);

